<div class="product-container">
  <dl>
    <dt>Tag:</dt>
    <dd>
      <input type="text" class="k-input">
    </dd>
  </dl>

  <dl>
    <dt>Width:</dt>
    <dd>
      <input type="text" class="k-input">
    </dd>
  </dl>

  <dl>
    <dt>Drawing Number:</dt>
    <dd>
      <input type="text" class="k-input">
    </dd>
  </dl>

  <dl>
    <dt>Custom List:</dt>
    <dd>
      <input type="text" class="k-input">
    </dd>
  </dl>

  <dl>
    <dt>Metal Type:</dt>
    <dd>
      <input type="text" class="k-input">
    </dd>
  </dl>

</div>
